[Unit]
Description=Setup VLAN's
After=network.target

[Service]
ExecStart=/usr/bin/sh /home/vision/services/setup_vlans.sh
WorkingDirectory=/home/vision/services
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
StartLimitBurst=5
StartLimitIntervalSec=10
User=root

[Install]
WantedBy=multi-user.target